/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';
@font-face {
  font-family: Prompt;
  src: url(./assets/fonts/Prompt/Prompt-Regular.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;
  height: 6px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: #cfe2ef;
  border-radius: 16px;
}
/* scrollbar itself */
::-webkit-scrollbar-thumb:hover {
  background-color: #adc5d5;
  border-radius: 16px;
}
/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  display: none;
}
.swal2-container {
  z-index: 4000 !important;
}